@import '_reset.scss';
@import '_forms.scss';
@import '_wordpress.scss';
@import '_comments.scss';
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import '_sprite.scss';
@import '_mixin.scss';
$width: 980px;
$footer: 100px;
$footer_margin: $footer - 2 * $footer;
$color: #616161;
$color_a: #005689;
$color_blue: #599dd4;
$color_green: #89af24;
$blue: lighten($color_blue, 20%);
$green: lighten($color_green, 20%);
$trs: all .5s;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;

  color: $color;
  background-color: #f7f7f7;
}
a {
  transition: $trs;

  color: $color_a;
  &:hover {
    color: lighten($color_a, 10%);
  }
  &:active {
    color: lighten($color_a, 20%);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;

  @extend .clearfix;
}

header {
  .logo {
    display: block;
    float: left;

    width: 100px;
    margin: .5em;
    img {
      max-width: 100%;
    }
  }
  h2 {
    margin: .5em;
  }
  .description {
    font-size: .8em;

    padding: .6em;
  }
}


.backhead {
  z-index: -50;

  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
}
.bkblock0n {
  position: absolute;
  top: 0;

  height: 170px;
}



section {
  width: 100%;
  padding: 0 0 $footer;
  .block-left,
  .block-right,
  .block-wide {
    padding: .6em;
  }
  .block-news {
    padding-right: 0;
    padding-left: 0;
  }
}

.block-left,
.block-right,
.block-wide {
  @extend .clearfix;
}
.block-left {
  float: left;

  width: 34%;

  background-color: $blue;
}
.block-right {
  float: right;

  width: 66%;

  background-color: $green;
}
.block-wide {
  float: left;

  width: 100%;
}
.block-news {
  h3 {
    font-size: 1.5em;

    @extend .clearfix;
    a {
      font-size: 1em;

      float: right;

      text-decoration: none;

      border-top: 1px dotted $color_a;
      border-bottom: 1px dotted $color_a;
      &:hover {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
      }
    }
  }
  ul {
    @extend .clearfix;
    li {
      float: left;
      overflow: hidden;

      width: 20%;
      height: 345px;
      margin: 0 0 1em;
      padding: .5em;
      a {
        display: block;

        text-decoration: none;
        span {
          display: block;
          overflow: hidden;

          width: 100%;
          height: 216px;

          border-radius: 4px;
          img {
            width: 100%;
            min-height: 100%;
            margin: 0 0 .5em;
          }
        }
        h5 {
          margin: 0 0 .5em;

          color: $color;
        }
        p {
          margin: 0 0 1.2em;
        }
      }
    }
  }
}


footer {
  position: relative;

  width: 100%;
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: #f16529;
  .mainfooter {
    width: $width;
    height: 100%;
    margin: 0 auto;

    background-color: #b3d4fc;
  }
}

@import '_print.scss';
